body {
    margin: 0px;
    background-color: #f7ffef;
}  

header{
    background-color: #ffe2c6;
}

#headline{
    margin-top: 0px;
    margin-left: 10px;
    color: #008000;
}

h1{
    margin-left: 10px;
}

h2{
    margin-left: 10px;
    margin-bottom: -5px;
}

h3{
    margin-left: 10px;
    margin-bottom: -5px;
}

.myTable{
    border-collapse: collapse;   /* 枠線を1本にする */
    border-width: 2px;
    margin-top: 10px;
    margin-bottom:10px;
    background-color: #ffffff;
}
