body{
    margin: 0px;
    background-color: #f7ffef;
}  

header{
    background-color: #ffe0ff;
}

#headline{
    margin-top: 0px;
    margin-left: 10px;
    color: #008000;
}

table{
    border-collapse: collapse;   /* 枠線を1本にする */
    border-width: 2px;
    /* margin-top: 10px;
    margin-bottom:10px; */
    background-color: #ffffff;
}

th, td {
    border: 1px solid #000000;
    /* padding: 6px; */
    text-align: center;
}

th{
    background-color: #000000;
    color: #ffffff;
}
