body{
    margin: 0px;
    background-color: #f7ffef;
}  

header{
    background-color: #ffe0ff;
}

#headline{
    margin-top: 0px;
    margin-left: 10px;
    color: #008000;
}

h1{
    margin-left: 10px;
}

h2{
    margin-left: 10px;
    margin-bottom: -5px;
}

h3{
    margin-left: 10px;
    margin-bottom: -5px;
}

h4{
    margin-left: 10px;
    margin-bottom: -5px;
}

p{
    margin-left: 10px;
    margin-bottom: -5px;
}

table{
    border-collapse: collapse;   /* 枠線を1本にする */
    border-width: 2px;
    margin-top: 10px;
    margin-bottom:10px;
    background-color: #ffffff;
}

.main_details{
    border: 2px solid #8e8eff;
    border-radius: 4px;
    width: 1000px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 0.5em 0.5em 0;
}

.main_details[open] {
    background-color: #f9f9ff;
    padding: 0.5em;
}
  
.main_details[open] summary{
    border-bottom: 1px solid #000000;
    margin-bottom: 0.5em;
}

.main_summary{
    background-color: #8e8eff;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    list-style: none;
}

.main_summary:hover{
    background-color: #7f7fff;
}

summary{
    font-weight: bold;
    font-size: 18px;
    color: #a52a2a;
    margin-top: 20px;
}

.sup_speed{
    background-color: #7fbfff;
}
