body{
    margin: 0px;
    background-color: #f7ffef;
}  

header{
    background-color: #ffe0ff;
}

#headline{
    margin-top: 0px;
    margin-left: 10px;
    color: #008000;
}

table{
    border-collapse: collapse;   /* 枠線を1本にする */
    margin-left: 10px;
    background-color: #ffffff;
}

th, td {
    border: 1px solid #000000;
    padding: 6px;
    text-align: center;
}

th{
    background-color: blue;
    color: #ffffff;
}

input[type="checkbox"] {
    transform: scale(1.5);   /* 倍率（1.2～2.0くらいがおすすめ） */
    cursor: pointer;
}
